body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}
.hello {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  background: url("img/header-bg.png") no-repeat center center;
}
.img-content {
  width: 50%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}
.para {
  text-align: justify;
}
.text-color {
  font-weight: bolder;
  font-size: 2rem;
  color: brown;
}
.text-content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 50%;
}
.btn-github {
  width: 100px;
  text-align: center;
  padding: 0.75rem;
  border-radius: 5px;
  text-decoration: none;
  color: azure;
  font-weight: bold;
  background-image: linear-gradient(45deg, red, tomato);
}
.hi {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  background: url("img/biography-bg.png") no-repeat center center/cover;
}
.text-color2 {
  font-weight: bolder;
  font-size: 2rem;
  color: rgb(247, 82, 6);
}
.btn-facebook {
  width: 100px;
  text-align: center;
  padding: 0.75rem;
  border-radius: 5px;
  text-decoration: none;
  color: azure;
  font-weight: bold;
  background-image: linear-gradient(9deg, tomato, red);
}
.imagebox {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.text-color3 {
  font-weight: bolder;
  font-size: 1.3rem;
  text-align: center;
  color: rgb(255, 4, 4);
}
.img-responsive {
  width: 31.5%;
  margin: 10px;
}
.hey {
  margin-top: 100px;
  background: url("img/latest-work-bg.png") no-repeat center center/cover;
  height: 500px;
}
.client {
  text-align: center;
  background: url("img/footer-bg.png") no-repeat center center/cover;
}
.char {
  margin-bottom: 50px;
}

.char1 {
  color: gray;
  margin-bottom: 0;
}

.char2 {
  color: gray;
  margin-bottom: 50px;
}
.char3 {
  font-weight: bold;
  margin-bottom: 50px;
}
.last-content {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.template {
  border-radius: 10px;
  width: 65%;
  background: linear-gradient(rgb(175, 9, 86), rgb(238, 7, 122));
  padding: 2rem;
  color: antiquewhite;
}
.last-link {
  text-decoration: none;
  color: antiquewhite;
}
